@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
  --width: 375px;
  --font-main: "Noto Sans Mono", monospace;
  --font-secondary: "Noto Sans Mono", monospace;
  --font-scale: 0.8em;
  --background-color: #a1bdde;
  --heading-color: #fff;
  --text-color: #314865;
  --link-color: #03489e;
  --code-background-color: #e2edfa;
  --code-color: #314865;
}

html {
  background-color: #e2edfa;
  overflow-x: hidden;
  background-image: url(https://bear-images.sfo2.cdn.digitaloceanspaces.com/u-u/snow-1.gif);
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: 0;
  padding: 0;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

pre, .preformatted {
  font-family: monospace;
  white-space: pre;
  line-height: 1.3;
}

.container {
  position: relative;
  overflow: hidden;
}

.train {
  white-space: pre;
  display: inline-block;
  animation: moveTrain 10s linear infinite; 
  font-family: monospace;
  line-height: 1;
  position: absolute;
  top: -12px;
}

@keyframes moveTrain {
  0%   { transform: translateX(-100%); }
  50%  { transform: translateX(120%); }
  100% { transform: translateX(150%); } 
}

#smoke {
  font-family: monospace;
}
